.data-form {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.data-form-row {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.data-form-row label {
  width: 30%;
}

.data-form-row input, .data-form-row select {
  width: 100%;
}

.data-form-error {
  color: red;
  margin-top: 0px;
}

.data-form-row.control {
  justify-content: flex-end;
  gap: 10px;
}

table {
  width: 100%;
}

table td {
  text-align: center;
}